<div id="graph-full-screen"></div>
<% provide(:title, @collection.title) %>

<div class="container-fluid">
  <div class="row">
    <%= render "layouts/sidebar" %>
    <main class="col-sm-9 col-md-10">
      <h1><%= @collection.title %></h1>
      <h2>Analysis Options</h2>
      <% if collection_downloaded(@collection.id, @user.id) %>
        <div class="card card-body">
          <h3>Graphs</h3>
          <p><%= button_to("Image Graph", user_collection_imagegraph_path(@user, @collection), data: {confirm: "Create an image graph?"}, class: 'btn btn-primary btn-lg btn-block') %></p>
          <p><%= button_to("Web Graph", user_collection_webgraph_path(@user, @collection), data: {confirm: "Create a web graph?" }, class: 'btn btn-primary btn-lg btn-block') %></p>
          <p><%= button_to("Domain Frequency", user_collection_domainfrequency_path(@user, @collection), data: {confirm: "Create a domain frequency graph?"}, class: 'btn btn-primary btn-lg btn-block') %></p>
          <p><%= button_to("Domain Graph", user_collection_domaingraph_path(@user, @collection), data: {confirm: "Create an domain graph?"}, class: 'btn btn-primary btn-lg btn-block') %></p>
        </div>
        <div class="card card-body">
          <h3>Text</h3>
          <p><%= button_to("Web Page Text", user_collection_webpage_text_path(@user, @collection), data: {confirm: "Create web page text?"}, class: 'btn btn-primary btn-lg btn-block') %></p>
          <p><%= button_to("Web Pages", user_collection_webpages_path(@user, @collection), data: {confirm: "Create an image graph?"}, class: 'btn btn-primary btn-lg btn-block') %></p>
        </div>
        <div class="card card-body">
          <h3>Binaries</h3>
          <p><%= button_to("Audio", user_collection_audio_path(@user, @collection), data: {confirm: "Create an image graph" + collection_size_human(@collection.id, @user) + "?"}, class: 'btn btn-primary btn-lg btn-block') %></p>
          <p><%= button_to("Images", user_collection_images_path(@user, @collection), data: {confirm: "Create an image graph" + collection_size_human(@collection.id, @user) + "?"}, class: 'btn btn-primary btn-lg btn-block') %></p>
          <p><%= button_to("PDFs", user_collection_pdfs_path(@user, @collection), data: {confirm: "Create an image graph" + collection_size_human(@collection.id, @user) + "?"}, class: 'btn btn-primary btn-lg btn-block') %></p>
          <p><%= button_to("Presentation Program Files", user_collection_presentationprogram_path(@user, @collection), data: {confirm: "Create an image graph" + collection_size_human(@collection.id, @user) + "?"}, class: 'btn btn-primary btn-lg btn-block') %></p>
          <p><%= button_to("Spreadsheets", user_collection_spreadsheets_path(@user, @collection), data: {confirm: "Create an image graph" + collection_size_human(@collection.id, @user) + "?"}, class: 'btn btn-primary btn-lg btn-block') %></p>
          <p><%= button_to("Videos", user_collection_videos_path(@user, @collection), data: {confirm: "Create an image graph" + collection_size_human(@collection.id, @user) + "?"}, class: 'btn btn-primary btn-lg btn-block') %></p>
          <p><%= button_to("Word Processor Files", user_collection_wordprocessor_path(@user, @collection), data: {confirm: "Create an image graph" + collection_size_human(@collection.id, @user) + "?"}, class: 'btn btn-primary btn-lg btn-block') %></p>
        </div>
      <% end %>
      <% unless !File.exists? domains_path(@user.id, @collection.id, @collection.account) %>
        <div class="card card-body">
          <h2 class="card-header">Download Collection Derivatives</h2>
          <div class="card-body text-center">
            <% unless !File.exists? gexf_path(@user.id, @collection.id, @collection.account) %>
              <%= link_to('Gephi<br />'.html_safe + number_to_human_size(File.size(gexf_path(@user.id, @collection.id, @collection.account))), user_collection_download_gexf_path(@user.id, @collection.id, @collection.account), class: 'btn btn-primary', 'data-toggle': 'tooltip', 'data-placement': 'top', title: 'A GEXF file which you can load with Gephi. It will have a basic layout courtesy of our GraphPass program, allowing you to see major nodes and communities in the network.') %>
            <% end %>
            <% unless !File.exists? graphml_path(@user.id, @collection.id, @collection.account) %>
              <%= link_to('Raw Network<br />'.html_safe + number_to_human_size(File.size(graphml_path(@user.id, @collection.id, @collection.account))), user_collection_download_graphml_path(@user.id, @collection.id, @collection.account), class: 'btn btn-primary', 'data-toggle': 'tooltip', 'data-placement': 'top', title: 'A GraphML file which you can load with Gephi. It will not have any basic layouts or transformations done to it, requiring you to do so manually.') %>
            <% end %>
            <% unless !File.exists? domains_path(@user.id, @collection.id, @collection.account) %>
              <%= link_to('Domains<br />'.html_safe + number_to_human_size(File.size(domains_path(@user.id, @collection.id, @collection.account))), user_collection_download_domains_path(@user.id, @collection.id, @collection.account), class: 'btn btn-primary', 'data-toggle': 'tooltip', 'data-placement': 'top', title: 'A csv file that contains two columns; the domain, and number of occurrences (the distribution of domains within the web archive).') %>
            <% end %>
            <% unless !File.exists? fulltext_path(@user.id, @collection.id, @collection.account) %>
              <%= link_to('Full Text<br />'.html_safe + number_to_human_size(File.size(fulltext_path(@user.id, @collection.id, @collection.account))), user_collection_download_fulltext_path(@user.id, @collection.id, @collection.account), class: 'btn btn-primary', 'data-toggle': 'tooltip', 'data-placement': 'top', title: 'A csv file that contains four columns; the crawl date, domain, URL, and the content (full-text) of a given web page.') %>
            <% end %>
            <% unless !File.exists? textfilter_path(@user.id, @collection.id, @collection.account) %>
              <%= link_to('Text by Domains<br />'.html_safe + number_to_human_size(File.size(textfilter_path(@user.id, @collection.id, @collection.account))), user_collection_download_textfilter_path(@user.id, @collection.id, @collection.account), class: 'btn btn-primary', 'data-toggle': 'tooltip', 'data-placement': 'top', title: 'A zip file that contains a "Full Text" derivative of the top ten domains within a given web archive collection. Each csv file contains the same columns as the "Full Text" derivative; the crawl date, domain, URL, and the content (full-text) of a given web page.') %>
            <% end %>
            <p><small><%=link_to("Learn more about these files here.", "/derivatives")%> <%=link_to("We also have prototype Archives Unleashed Cloud Jupyter Notebooks available.", "/documentation#notebooks")%></small></p>
          </div>
        </div>
      <% end %>
    </main>
  </div>
</div>
