<div id="graph-full-screen"></div>
<% provide(:title, @collection.title) %>
<div class="modal fade" id="sigma-fullscreen">
<div id="graph-modal-container" class="modal-dialog modal-dialog-centered">
<div class="modal-content">
<!-- Modal Header -->
<div class="modal-header">
  <h4> <%= @collection.title %> Link Structure Graph</h4>
  <button type="button" class="close" data-dismiss="modal">&times;</button>
</div>
<!-- Modal body -->
<div id="graph-modal-body" class="modal-body">
  <button type="button" data-dismiss="modal"><span class="glyphicon glyphicon-resize-small"></span></button>
  <button type="button" id="modal-zoom-in" class="zoom-in"><span class="glyphicon glyphicon-zoom-in"></span></button>
  <button type="button" id="modal-zoom-out" class="zoom-out"><span class="glyphicon glyphicon-zoom-out"></span></button>
  <button type="button" id="modal-default" class="default"><span class="glyphicon glyphicon-refresh"></span> </button>
  <div id="graph-modal"></div>
</div>
<!-- Modal footer -->
</div>
</div>
</div>
<div class="container-fluid">
  <div class="row">
    <%= render "layouts/sidebar" %>
    <main class="col-sm-9 col-md-10">
    <h1><%= @collection.title %></h1>
      <p><%= button_to("Analyze Collection", user_collection_download_path(@user, @collection), data: {confirm: "Download and analyze " + collection_size(@collection.id, @user) + "?"}, class: 'btn btn-primary btn-lg btn-block') %></p>
      <% unless display_domains(@user.id, @collection.id, @collection.account).blank? %>
        <h2>Hyperlink Diagram</h2>
        <button type="button" id="modal-click" data-toggle="modal" data-target="#sigma-fullscreen"><span class="glyphicon glyphicon-resize-full"></span></button>
        <button type="button" id="zoom-in" class="zoom-in"> <span class="glyphicon glyphicon-zoom-in"></span></button>
        <button type="button" id="zoom-out" class="zoom-out"> <span class="glyphicon glyphicon-zoom-out"></span> </button>
        <button type="button" id="default" class="default"> <span class="glyphicon glyphicon-refresh"></span> </button>
        <div id="graph"></div>

        <%= javascript_tag do %>
          $("#graph-modal").data("gexf", `<%= display_gexf(@user.id, @collection.id, @collection.account) %>`);
        <% end %>
        <h2>Download Collection Derivatives</h2>
          <div class="text-center">
            <%= link_to('Gephi', user_collection_download_gexf_path(@user.id, @collection.id, @collection.account), class: 'btn btn-primary', 'data-toggle': 'tooltip', 'data-placement': 'top', title: 'A GEXF file which you can load with Gephi. It will have a basic layout courtesy of our GraphPass program, allowing you to see major nodes and communities in the network.') %>
            <%= link_to('Raw Network', user_collection_download_graphml_path(@user.id, @collection.id, @collection.account), class: 'btn btn-primary', 'data-toggle': 'tooltip', 'data-placement': 'top', title: 'A GraphML file which you can load with Gephi. It will not have any basic layouts or transformations done to it, requiring you to do so manually.') %>
            <%= link_to('Domains', user_collection_download_domains_path(@user.id, @collection.id, @collection.account), class: 'btn btn-primary', 'data-toggle': 'tooltip', 'data-placement': 'top', title: 'A csv file that explains the distribution of domains within the web archive.') %>
            <%= link_to('Full Text', user_collection_download_fulltext_path(@user.id, @collection.id, @collection.account), class: 'btn btn-primary', 'data-toggle': 'tooltip', 'data-placement': 'top', title: 'A txt file that contains the plain text extracted from HTML documents within the web archive. You can find the crawl date, full URL, and the plain text of each page within the file.') %>
          </div>
        <h2>Domains</h2>
        <div class="table-responsive">
          <table class="table table-striped sortable">
            <thead>
              <tr>
                <th>Domain</th>
                <th>Occurrences</th>
              </tr>
            </thead>
            <tbody>
              <% for display_domain in display_domains(@user.id, @collection.id, @collection.account) %>
                <% display_domain %>
                <tr>
                  <% display_domain.each do |element| %>
                    <td><%= element %></td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
    </main>
  </div>
</div>
