<%= bootstrap_form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :email %>
  <%= f.text_field :institution %>
  <%= f.text_field :wasapi_username, label: 'Archive-It Username' %>
  <%= f.password_field :wasapi_password, label: 'Archive-It Password' %>
  <%= f.submit %>
<% end %>
