<%= bootstrap_form_for(user) do |f| %>
  <div class="container">
    <div class="card border-light">
      <div class="card-header">
        <h3>AU Cloud Account Information</h3>
      </div>
      <div class="card-body">
         <p><span style="color:red">Fields with a red asterisk are required.</span></p>
        <div class="form-group">
          <%= f.email_field :email, label: false, placeholder: 'sample@archivesunleashed.org', class: 'form-control', required: true %>
          <small class="form-text text-muted">
            This e-mail will be used for notifications. It also connects to your <a href="https://en.gravatar.com/" target="_blank">Gravatar account.</a>
          </small>
        </div>
        <div class="form-group">
          <%= f.text_field :auk_name, label: 'Name', placeholder: 'Firstname Lastname', class: 'form-control', required: true %>
          <small class="form-text text-muted">
            How would you like us to refer to you?
          </small>
        </div>
        <div class="form-group">
          <%= f.text_field :institution, placeholder: 'Institution', class: 'form-control', required: true %>
          <small class="form-text text-muted">
            Your primary institutional affiliation.
          </small>
        </div>
        <div class="form-group">
          <%= f.check_box :terms, label: "I consent to the Archives Unleashed team sending occasional emails to me about things that are happening on this site and with my collections, as well as for other matters such as user feedback.", required: true %>
        </div>
      </div>
    </div>
    <div class="card border-light">
      <div class="card-header">
        <h3>Archive-It Account Information</h3>
      </div>
      <div class="card-body">
        <div class="form-group">
          <%= f.text_field :wasapi_username, label: 'Archive-It Username', placeholder: 'Archive-It username', required: true %>
          <small class="form-text text-muted">
            This is the username that you use to access your <a href="https://archive-it.org/" target="_blank">Archive-It</a> account.
          </small>
        </div>
        <div class="form-group">
          <%= f.password_field :wasapi_password, label: 'Archive-It Password', placeholder: 'Archive-It password', required: true %>
          <small class="form-text text-muted">
            This is the password that you use to access your <a href="https://archive-it.org/" target="_blank">Archive-It</a> account.
          </small>
        </div>
      </div>
    </div>
    <%= f.submit 'Update', class: "btn btn-primary" %>
  </div>
<% end %>
