<div class="row">
  <div class="col-sm-2 col-md-2">
    <%= image_tag gravatar_url(@user.email, 200), alt: @user.name, class: "img-rounded img-responsive" %>
    <h2><%= @user.name %></h2>
    <hr />
    <p><i class="glyphicon glyphicon-envelope"></i> <%= @user.email %></p>
    <p><i class="glyphicon glyphicon-education"></i> <%= @user.institution %></p>
    <% if @user.wasapi_username.blank? %>
      <p><i class="fa fa-user-circle-o"></i> Please setup Archive-It credentials.</p>
    <% else %>
      <p><i class="fa fa-user-circle-o"></i> <%= @user.wasapi_username %></p>
    <% end%>
    <% if @user.wasapi_password.blank? %>
      <p><i class="fa fa-user-secret"></i> Please setup Archive-It credentials.</p>
    <% else %>
      <p><i class="fa fa-user-secret"></i> *******</p>
    <% end %>
  </div>
  <div class="col-sm-10 col-md-10">
    <h1>Collections</h1>
    <table class="table table-striped">
      <tr>
        <th>Title</th>
        <th>Public</th>
        <th>Files</th>
        <th>Size</th>
      </tr>
      <% for collection in @collections %>
        <tr>
          <td><%= collection.title %></td>
          <td><%= collection.public %></td>
          <td>?</td>
          <td>?</td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
<div class="row">
	<div class="col-sm-12 col-md-12">
		<%= link_to 'Edit', edit_user_path(@user) %> | <%= link_to 'Back', user_path %>
  </div>
</div>
