<% if current_user.auk_name.nil? %>
  <% provide(:title, @user.name + "'s Collections") %>
<% else %>
  <% provide(:title, @user.auk_name + "'s Collections") %>
<% end %>
<div class="container-fluid">
  <div class="row">
    <%= render "layouts/sidebar" %>
    <main class="col-sm-9 col-md-10">
      <h1>Collections</h1>
      <div class="table-responsive">
        <table class="table table-striped sortable">
          <thead>
            <tr>
              <th>Title</th>
              <th>uh</th>
              <th>Status</th>
              <th>Date Analyzed</th>
              <th>Public</th>
              <th>Files</th>
              <th>Files on disk</th>
              <th>Size</th>
              <th>Download</th>
            </tr>
          </thead>
          <tbody>
            <% for collection in @collections %>
              <tr>
                <% if collection_downloaded(collection.collection_id, @user) %>
                  <td><%= link_to(collection.title, user_collection_path(@user, collection.collection_id)) %></td>
                <% else %>
                  <td><%= collection.title %></td>
                <% end %>
                <td><%= collection_downloaded(collection.collection_id, @user) %></td>
                <% if !collection_queued(@user.id, collection.id).empty? %>
                  <% if collection_queued(collection.id, @user.id).first == 'download' %>
                    <td>Downloading</td>
                  <% elsif collection_queued(collection.id, @user.id).first == 'cleanup' %>
                    <td>Completed</td>
                  <% else collection_queued(collection.id, @user.id).first == 'spark' || 'textfilter' || 'graphpass' %>
                    <td>Analyzing</td>
                  <% end %>
                <% elsif if !collection_analyzed(collection.id, @user.id).nil? %>
                  <td>Completed</td>
                <% end %>
                <% else %>
                  <td />
                <% end %>
                <% if !collection_analyzed(collection.id, @user.id).nil? %>
                  <td sorttable_customkey="<%= collection_analyzed(collection.id, @user.id).last %>"><%= collection_analyzed(collection.id, @user.id).first %></td>
                <% else %>
                  <td />
                <% end %>
                <td><%= collection.public.humanize %></td>
                <td><%= collection_count(collection.id, @user) %></td>
                <td><%= collection_count_on_disk(collection.id, @user) %></td>
                <td sorttable_customkey="<%= collection_size(collection.id, @user) %>"><%= collection_size_human(collection.id, @user) %></td>
                <td><%= link_to("Download", user_collection_download_path(@user, collection.collection_id), method: :post, data: {confirm: "Download " + collection_size_human(collection.collection_id, @user) + "? \n\nDownloading large collections can take a long time depending on our connection to the Internet Archive, and the number of other users who are currently using the service. We ask for your patience.\n\nAn e-mail will be sent to " + @user.email + " once it is complete."}) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>
