<% if current_user.auk_name.nil? %>
  <% provide(:title, @user.name + "'s Collections") %>
<% else %>
  <% provide(:title, @user.auk_name + "'s Collections") %>
<% end %>
<div class="container-fluid">
  <div class="row">
    <%= render "layouts/sidebar" %>
    <main class="col-sm-9 col-md-10">
      <h1>Collections</h1>
      <div class="table-responsive">
        <table class="table table-striped sortable">
          <thead>
            <tr>
              <th>Title</th>
              <th>Analyzed</th>
              <th>Public</th>
              <th>Files</th>
              <th>Size</th>
            </tr>
          </thead>
          <tbody>
            <% for collection in @collections %>
              <tr>
                <td><%= link_to(collection.title, user_collection_path(@user, collection.collection_id)) %></td>
                <% if !collection_analyzed(collection.id, @user.id).nil? %>
                  <td sorttable_customkey="<%= collection_analyzed(collection.id, @user.id).last %>"><%= collection_analyzed(collection.id, @user.id).first %></td>
                <% else %>
                  <td />
                <% end %>
                <td><%= collection.public.humanize %></td>
                <td><%= collection_count(collection.id, @user) %></td>
                <td sorttable_customkey="<%= collection_size(collection.id, @user) %>"><%= collection_size_human(collection.id, @user) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>
