<% provide(:title, 'Derivatives') %>

<% cache do %>
  <div class="container">
    <h1 class="about_h1">Using the Archives Unleashed Cloud Derivative Files</h1>
    <p class="about_p">One of the main features of the Archives Unleashed Cloud is the creation of <strong>derivative files</strong>. These are datasets that provide information about your web archives and can be used by researchers in place of the original WARC files.</p>
    <p class="about_p">Once analytics have been run on a collection, as discussed in the <%=link_to('documentation','/documentation') %>, you will be able to view and access a series of four derivative files.</p>
    <div class="auk_deriv_card-deck card-deck">
      <div class="auk_deriv_card card">
        <%= image_tag("DER-gexf-197x330.png", alt: "Gephi File Output", class:"auk_card-img-top")%>
        <div class="auk_deriv_card-body card-body">
          <h5 class="auk_deriv_card-title card-title"><strong>Gephi</strong></h5>
        </div>
      </div>
      <div class="auk_deriv_card card">
        <%= image_tag("DER-graphml-320x646.png", alt: "Raw Network File Output", class:"auk_card-img-top")%>
        <div class="auk_deriv_card-body card-body">
          <h5 class="auk_deriv_card-title card-title"><strong>Network</strong></h5>
        </div>
      </div>
      <div class="auk_deriv_card card">
        <%= image_tag("DER-domains-100x250.png", alt: "Domains File Output", class:"auk_card-img-top")%>
        <div class="auk_deriv_card-body card-body">
          <h5 class="auk_deriv_card-title card-title"><strong>Domains</strong></h5>
        </div>
      </div>
      <div class="auk_deriv_card card">
        <%= image_tag("DER-text-101x296.png", alt: "Text File Output", class:"auk_card-img-top")%>
        <div class="auk_deriv_card-body card-body">
          <h5 class="auk_deriv_card-title card-title"><strong>Full Text</strong></h5>
        </div>
      </div>
    </div>
    <br />
    <h3 class="about_h3">Learning Guides</h3>
      <p class="about_p">The following guides walk through how to use Cloud derivative files for further analysis.</p>
    <div id="auk_deriv_accordionContainer accordion">
      <div class="auk_deriv_accord card">
        <div class="auk_deriv_accord-header card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Gephi & Raw Network Files
            </button>
          </h5>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="auk_deriv_accord_body card-body">
            <p class="about_p">When using the web as a historical source, the ability to see the way websites link to each other can be invaluable. However, using network analysis in historical research can also be a daunting prospect. </p>
            <table id="auk_deriv_accord_table">
              <tbody class="auk_deriv_tbody_table">
                <tr class="auk_deriv_tr_table">
                  <td class="auk_deriv_td_table"><strong>Tutorial</strong></td>
                  <td class="auk_deriv_td_table"><%=link_to("Network Graphing Archived Websites With Gephi", "/derivatives/gephi")%></td>
                </tr>
                <tr class="auk_deriv_tr_table">
                  <td class="auk_deriv_td_table"><strong>File Output</strong></td>
                  <td class="auk_deriv_td_table"><kbd>.gexf</kbd> and <kbd>.graphml</kbd></td>
                </tr>
                <tr class="auk_deriv_tr_table">
                  <td class="auk_deriv_td_table"><strong>Files Generated</strong></td>
                  <td class="auk_deriv_td_table">
                    <ol>
                      <li class= "about_li"><strong>Gephi file</strong>, which can be loaded into <%= link_to('Gephi','https://gephi.org/', target: '_blank') %>. It will have basic characteristics already computed and a basic layout.</li>
                      <li class= "about_li"><strong>Raw Network</strong> file, which can also be loaded into <%= link_to('Gephi','https://gephi.org/', target: '_blank') %>. You will have to use that network program to lay it out yourself.</li>
                    </ol>
                  </td>
                </tr>
                </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="auk_deriv_accord card" id="accordion">
        <div class="auk_deriv_accord-header card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Plain Text Files
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="auk_deriv_accord_body card-body">
            <p class="about_p">The full text of a web collection can be invaluable for a researcher! Archives Unleashed Cloud users will have access to the full text file. In it, each website within the web archive collection will have its full text presented on one line, along with information around when it was crawled, the name of the domain, and the full URL of the content.</p>
            <table id="auk_deriv_accord_table">
              <tbody class="auk_deriv_tbody_table">
                <tr class="auk_deriv_tr_table">
                  <td class="auk_deriv_td_table"><strong>Tutorial</strong></td>
                  <td class="auk_deriv_td_table">
                    <ul>
                      <li class="card_li"><strong><%=link_to("Filtering the Full-Text Derivative File", "/derivatives/text-filtering")%></strong>: This tutorial explores the use of the "grep" command line tool to filter out dates, domains, and keywords from plain text.</li>
                      <li class="card_li"><strong><%=link_to("Text Analysis Part One: Beyond the Keyword Search: Using AntConc", "/derivatives/text-antconc")%></strong>: This tutorial explores how you can explore text within a web archive using the AntConc tool.</li>
                      <li class="card_li"><strong><%=link_to("Text Analysis Part Two: Sentiment Analysis With the Natural Language Toolkit", "/derivatives/text-sentiment")%></strong>: This tutorial explores how you can calculate the positivity or negativity (in an emotional sense) of web archive text.</li>
                    </ul>
                  </td>
                </tr>
                <tr class="auk_deriv_tr_table">
                  <td class="auk_deriv_td_table"><strong>File Output</strong></td>
                  <td class="auk_deriv_td_table"><kbd>.txt</kbd></td>
                </tr>
                <tr class="auk_deriv_tr_table">
                  <td class="auk_deriv_td_table"><strong>Files Generated</strong></td>
                  <td class="auk_deriv_td_table">A <strong>text file</strong> is generated which can be used in various other programs and software.</td>
                </tr>
                <tr class="auk_deriv_tr_table">
                  <td class="auk_deriv_td_table"><strong>Additional Resources</strong></td>
                  <td class="auk_deriv_td_table">
                    <p class="about_p">Working with lots of text can be challenging. Fortunately, there are lots of resources on the web to help teach you the basics of text analysis.</p>
                    <ul>
                      <li class="card_li"><strong><%= link_to('Programming Historian','https://programminghistorian.org', target: '_blank') %></strong>: The Programming Historian has many lessons, including a specific section on <%= link_to('distant reading','https://programminghistorian.org/en/lessons/?topic=distant-reading', target: '_blank') %>.</li>
                      <li class="card_li"><strong><%= link_to('Text Analysis Portal for Research','http://tapor.ca/home', target: '_blank') %></strong>: TAPoR, or the Text Analysis Portal for Research, provides a curated collection of tools that can be used to explore text.</li>
                      <li class="card_li"><strong><%= link_to('Digital Humanities Guide at University of Ottawa','https://uottawa.libguides.com/DH/textual', target: '_blank') %></strong>: This is a great guide that highlights several approaches to text analysis in the field.</li>
                      <li class="card_li"><strong><%= link_to('Voyant Tools','http://voyant-tools.org/', target: '_blank') %></strong>: This is more of a tool than an introductory resource, but it's a gentle yet powerful introduction to the powers of text analysis.</li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="auk_deriv_accord card">
        <div class="auk_deriv_accord-header card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Domains File
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="auk_deriv_accord_body card-body">
            <p class="about_p">Sometimes you might just want to know what is inside a web archive! The web is a complex beast: a small web archive that aims to collect just one page might end up capturing embedded widgets and content from other websites just to make something play. Alternatively, a crawl might have been corrupted and begun to find material that's far out of scope.</p>
            <table id="auk_deriv_accord_table">
              <tbody class="auk_deriv_accord_table">
                <tr class="auk_deriv_tr_table">
                  <td class="auk_deriv_td_table"><strong>Tutorial</strong></td>
                  <td class="auk_deriv_td_table"><%=link_to("Making Sense of the Domains Count", "/derivatives/domains")%></td>
                </tr>
                <tr class="auk_deriv_tr_table">
                  <td class="auk_deriv_td_table"><strong>File Output</strong></td>
                  <td class="auk_deriv_td_table"><kbd>.txt</kbd></td>
                </tr>
                <tr class="auk_deriv_tr_table">
                  <td class="auk_deriv_td_table"><strong>Files Generated</strong></td>
                  <td class="auk_deriv_td_table">A <strong>text file</strong> containing the frequency count of domains captured within your web archive.</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <br />
    <h3 class="about_h3">How to Cite Archives Unleashed</h3>
    <p class="about_p">If you've found the Archives Unleashed Toolkit or Cloud helpful in your research, please consider using the citation below in your publications. Your citations help to further the recognition of using open-source tools for scientific inquiry, assists in growing the web archiving community, and acknowledges the efforts of contributors to this project.
    <p class="about_p">Archives Unleashed Project. (2018). Archives Unleashed Toolkit (Version 0.16.0). Apache License, Version 2.0.</p>
  </div>
<% end %>
