<% provide(:title, 'Network Graphing with Gephi') %>

<% cache do %>
  <div class="container">
    <h1 class="about_h1">Network Graphing Archived Websites With Gephi</h1>
    <p class="about_p_italic">Tutorial by Sarah McTavish (University of Waterloo)</h3>
    <h3 class="about_h3">Introduction</h3>
    <p class="about_p">When using the web as a historical source, the ability to see a collection of archived websites as a functional whole, made up of connections and linkages, can be invaluable. However, using network analysis in historical research can also be a daunting prospect. The creation and interpretation of network graphs requires new tools and methodologies which may be unfamiliar to historians and other humanities scholars. Increasingly, tools such as the Archives Unleashed Cloud are making large datasets easily available for historical research using web sources. However, what do you do with this data once you have it?</p>
    <%= image_tag("Tutorial_icons.png", alt: "Gephi download page", class:"body_small_img")%>
    <p class="about_p">This tutorial explores what you can learn from the derivative file marked as "Gephi" or "Raw Network" in your collections page.</p>
    <h3 class="about_h3">Getting Started</h3>
    <p class="about_p">There are several tools and methods for interpreting and visualizing large datasets; some require coding knowledge. However open-source network graphing software, such as Gephi, allow users to sort, filter, and graph data using a simple visual interface. Gephi can be downloaded for free for Windows, MacOS, and Linux from <a href="https://gephi.org/" target="_blank">gephi.org</a>.</p>
    <%= image_tag("Tutorial_Gephi.png", alt: "Gephi download page", class:"body_img")%>
    <p class="about_p">Once installed, users can either generate graphs from a spreadsheet, or other graph file formats, in order to manipulate their data. Using a GraphML file generated from the Archives Unleashed Cloud, I will demonstrate how to analyze a network graph using Gephi.
    <h3 class="about_h3">Example in this Tutorial</h3>
    <p class="about_p">In this example, we will be graphing the University of Alberta's "Fort McMurray Wildfires" collection, in order to explore where people were getting their information from during this significant Canadian news event. These northern Alberta wildfires took place during early May 2016, and resulted in the evacuation of nearly 90,000 residents. The fires spread quickly over several days, leading to dramatic photographs and video footage of residents fleeing their homes as the fires engulfed parts of the city and the surrounding area. The dramatic nature of the wildfires and evacuation sparked considerable media attention worldwide.</p>
    <p class="about_p">This international interest compounded the expected online coverage from local and regional residents and officials, who used the internet to spread necessary information on evacuation efforts and the state of the city during the fires. But which online news sources did people use to learn about the wildfires?  Were official government websites linked to more frequently than the mainstream media?  What role did blogs and social media play?  By visualizing the linkages between sites crawled and archived during the media coverage of the wildfires, we can see which news sources were most relevant to people looking for information and which sites were linked to most frequently.</p>
    <p class="about_p">This example uses data from the <a href="https://uwaterloo.ca/web-archive-group/news/compute-canada-grant-web-archives-longitudinal-knowledge">Web Archives for Longitudinal Knowledge project</a>. We took the collections of six Canadian university libraries -- the Universities of Toronto, Alberta, Manitoba, Victoria, Simon Fraser University, and Dalhousie -- and among other things generated derivative datasets (like what you get from the Archives Unleashed Cloud). You will soon be able to download separately all of the network diagrams from these collections to use as a sample example.</p>
    <h3 class="about_h3">Loading Your Data into Gephi</h3>
    <p class="about_p">The downloaded .graphml file can be opened directly in Gephi by choosing "Open Graph File" from the Gephi startup screen and then selecting the file to be opened.</p>
    <%= image_tag("Tutorial_OpenFile.png", alt: "Gephi download page", class:"body_img")%>
    <p class="about_p">Once opened, we see from the statistics on the upper right hand corner that the collection has 4106 nodes, or individual websites, and 6817 connections between those websites, or edges.</p>
    <%= image_tag("Tutorial_Gexf.png", alt: "Gephi download page", class:"body_img")%>
    <p class="about_p">Gephi also provides a Data Laboratory view, which provides a list of all of the nodes, with all of their relevant statistics. It is in this view that the dataset can be manipulated; individual nodes can be deleted, the data can be sorted according to variables such as how frequently the node is linked to, and the labels for the data points can be changed. You can find that by clicking the "Data Laboratory" button at the upper left of the program.</p>
    <%= image_tag("Tutorial_datalab.png", alt: "Gephi download page", class:"body_img")%>
    <p class="about_p">Now let's begin exploring our data.</p>
    <h3 class="about_h3">Sorting and Graphing Your Data</h3>
    <p class="about_p">Going back to the "Overview" tab, we can then begin sorting and filtering our data. On the right side of the screen, Gephi’s Filters and Statistics toolbar provides some simple but powerful tools to determine which variables will be used to graph the data, and which data points will be included. Under statistics, there is a list of algorithms that can be used in order to sort the data.</p>
     <ul class="about_ul">
      <li class="about_li"><strong>Average Clustering Coefficient</strong> - The measure of how "complete" a network is. In a network where every node is connected to every other node, the clustering coefficient will be 1. If no nodes are connected to any other nodes, the clustering coefficient will be 0.</li>
      <li class="about_li"><strong>Average Path Length</strong> - The average distance between all pairs of nodes.</li>
      <li class="about_li"><strong>Betweenness Centrality</strong> - Measures how often a node appears on the shortest path between any given two nodes.</li>
      <li class="about_li"><strong>Closeness Centrality</strong> - The average distance between any two given nodes in the network.</li>
      <li class="about_li"><strong>Connected Components</strong> - Measures the number of connected components in a network.</li>
      <li class="about_li"><strong>Degree</strong> - Measures the number of edges that connect to a node.</li>
      <li class="about_li"><strong>Degree Power Law </strong> - Measures degree distribution according to power-law scale.</li>
      <li class="about_li"><strong>Diameter</strong> - Calculates the maximum distance between all pairs of nodes.</li>
      <li class="about_li"><strong>Eigenvector Centrality</strong> - Calculates node importance based on connections to other nodes.</li>
      <li class="about_li"><strong>HITS</strong> - Hyperlink-Induced Topic Search algorithm, which evaluates nodes for page authority and the value of its links to other pages.</li>
      <li class="about_li"><strong>Modularity</strong> - Measures the division of the network into clusters.</li>
      <li class="about_li"><strong>PageRank</strong> - Determines the probability of clicking through to each node, given a certain number of random clicks through links.</li>
    </ul>
    <p class="about_p">Because we want to determine which sites were most highly-read and linked to most frequently, in order to ascertain which sources were used the most to learn about the wildfires, we have to prioritize PageRank, or the probability of a user reaching each page, given a certain number of clicks on random links (<a href="http://ilpubs.stanford.edu:8090/422/1/1999-66.pdf">Page, et al, 1999</a>).</p>
    <p class="about_p">By clicking on the "run" button next to PageRank, Gephi will calculate the PageRank for each of our nodes. In order to help visualize distinct clusters within the network, we will also run the Modularity statistic; this measures the division of the network into clusters of closely-related nodes (<a href="http://lanl.arxiv.org/abs/0803.0476">Blondel, et al, 2008</a>).</p>
    <%= image_tag("Tutorial_sidebar.png", alt: "Gephi download page", class:"body_small_img")%>
    <p class="about_p">It is also possible to adjust the appearance of the nodes, edges, and labels in order to help provide a useful visualization of the network. In this example, I have adjusted the node and edge colours according to modularity, which means that distinct clusters will appear in different colours from other clusters. I have also adjusted the node size and label text size according to PageRank, so that websites with a higher PageRank appear larger. Watch the video below:</p>
    <p class="about_p_center"><iframe width="560" height="315" src="https://www.youtube.com/embed/NWN-PUkmKGI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></p>
    <ol class="about_ol">
      <li class="about_li">Click on the colour pallette icon under the appearance tab, on the top left of the Gephi window.</li>
      <li class="about_li">Click on "Partition" and choose "Modularity Class" from the menu that appears. Click "Apply."</li>
      <li class="about_li">Next, choose the node size icon, next to the colour palette.</li>
      <li class="about_li">Click on "Ranking" and then choose "PageRank" from the menu. Node minimum and maximum size can be adjusting according to preferences. Click "Apply."</li>
      <li class="about_li">Make labels visible using the text icon (the large ‘T") on the bottom toolbar. Label text will appear, but all in one size.</li>
      <li class="about_li">Choose the text size icon to the far right of the appearance toolbar.</li>
      <li class="about_li">Click on "Ranking" and then choose "PageRank" from the drop down menu. Text minimum and maximum size can be adjusted before clicking "Apply."</li>
    </ol>
    <p class="about_p">Once the network’s appearance has been adjusted, we can begin to change the layout, in order to provide a useful visualization of the network’s connections. Under the Layout tab, Gephi provides several organizational algorithms, which can be changed and adjusted in order to change how the graph looks. Gephi provides a <a href="https://gephi.org/tutorials/gephi-tutorial-layouts.pdf">tutorial which describes how each algorithm works</a>, however it is often necessary to try several layouts, experimenting with the variables, in order to find a layout that works for each particular graph.</p>
    <p class="about_p">In general, the Yifan Hu layout is a good choice for large graphs which show distinct clustering; if something doesn’t work, the Random Layout algorithm can be run to "reset" the graph before trying again. In the Fort McMurray Wildfires graph, the Yifan Hu algorithm works well to separate the network out into distinct clusters, emphasizing the interconnections between the nodes. The Label Adjust layout is also useful for moving around overlapping node labels.</p>
    <%= image_tag("Tutorial_yifanhu.png", alt: "Gephi download page", class:"body_img")%>
    <p class="about_p">By looking at the network graph, it becomes apparent that social media, such as Twitter, Facebook, and Instagram, played a central role in directing how users found information about the wildfires. This is perhaps not a surprising result. However, we can also see the reciprocal linking between official government web pages, such as Alberta.ca, and social media, but not more traditional news sources; this provides a fascinating perspective on the ways that information was disseminated from official sources in during the 2016 wildfires. Furthermore, we see distinct clusters of online and traditional news media, which show patterns of interaction and connection.</p>
    <%= image_tag("Tutorial_highlight.png", alt: "Gephi download page", class:"body_img")%>
    <p class="about_p">To help see these clusters even more clearly, you can hover your mouse cursor over one of the nodes. For example, here we have selected the "Macleans" news magazine's website --- we can see connections to other traditional Canadian news media outlets such as the <em>National Post</em> and <em>Globe and Mail</em> newspapers.</p>
    <h3 class="about_h3">Filtering Your Data</h3>
    <p class="about_p">Gephi also provides a useful set of tools for filtering data according to a number of variables. When working with many large datasets, it may be necessary to filter the data down to a smaller number of nodes, in order to provide useful visualizations. In short, filtering removes a lot of the "clutter" in the network graphs, in order to allow places of significance to show through clearly and quickly. Depending on need, the graph could be filtered using the edge tools, showing only sites with reciprocal linking, or one way linking, for example. These filters are found on the right-hand toolbar, under the Filters tab.</p>
    <p class="about_p">For this graph, I've filtered according to Degree Range, removing all sites that don’t link to at least two other sites. This removes a lot of the "cloud" of sites that appears at the edges of the network, but are not highly interconnected within the network. However, we also lose distinct clusters, such as the one that appears in purple in the upper right corner of the graph; these sites only link to one site within our network, but the existence of these clusters could be a place for further exploration. Filtering can be incredibly important and necessary in order to comprehend the network as a whole, but can lead to a loss of nuance within the network.</p>
    <p class="about_p_center"><iframe width="560" height="315" src="https://www.youtube.com/embed/lGMSwz98nmI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></p>
    <p class="about_p">How to filter by degree range:</p>
    <ol class="about_ol">
      <li class="about_li">Choose the filters tab from the toolbar on the right of the screen.</li>
      <li class="about_li">Click on the "Topology" folder from the menu and then double-click on the "Degree Range" filter.</li>
      <li class="about_li">The filter parameters will appear at the bottom of the change. The slider can be dragged to adjust the filter. In this example, I set the minimum degree to "2" in order to filter out all sites that don’t link to at least two other sites.</li>
      <li class="about_li">Click on the "Start" button to begin filtering. Clicking "Stop" will restore all of the filtered sites.</li>
    </ol>
    <h3 class="about_h3">Taking Your Graph Outside of Gephi</h3>
    <p class="about_p">Lastly, Gephi provides preview and export tools which make it easy to include a network graph in a paper or presentation. Users can change the appearance of the graph to suit their needs, and then export it as a PNG or PDF file. This tool is found under the "Preview" button, to the top left of the screen.</p>
    <%= image_tag("Tutorial_preview.png", alt: "Gephi download page", class:"body_img")%>
    <p class="about_p">Label sizes and node appearance can all be changed on the preview toolbar to the left of the screen. It is necessary to click the "Refresh" button to view changes. The image of the graph can then be saved by clicking "Export SVG/PDF/PNG" near the bottom left of the screen.</p>
    <%= image_tag("Tutorial_download.png", alt: "Gephi download page", class:"body_img")%>
    <p class="about_p">Using Gephi, it is a simple task to generate network graphs using archived web collections. Gephi’s powerful and diverse range of tools and algorithms allow data to be manipulated and visualized in order to highlight the interconnection between archived websites. These graphs allow for new perspectives on influence and interaction when doing historical research with archived web materials.</p>
    <p class="about_p_italic">This tutorial was written by Sarah McTavish, a doctoral candidate at the University of Waterloo. It was edited by Ian Milligan who undoubtably introduced any errors you find.</p>
  </div>
<% end %>
