<% cache do %>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>New user?</strong> You currently need <%= link_to('Archive-It', 'https://archive-it.org', target: '_blank') %> credentials to use our service. Please read our <%= link_to('FAQ', '/faq', target: '_blank') %>.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="container-fluid">
  <div class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag("image_01.png", class: "d-block w-100 homepage-img") %>
      </div>
      <div class="carousel-item">
        <%= image_tag("image_02.png", class: "d-block w-100 homepage-img") %>
      </div>
      <div class="carousel-item">
        <%= image_tag("image_03.png", class: "d-block w-100 homepage-img") %>
      </div>
    </div>
  </div>
</div>
<% end %>
