<% provide(:title, 'Privacy Policy') %>

<% cache do %>
<div class="container">
  <h1 class=about_h1>The Archives Unleashed Privacy Policy </h1>
    <p class="about_p">We recognize the importance of and are committed to protecting the privacy of all users. The following privacy policy guides and outlines the Archives Unleashed Project’s (AU) online information practices.</p>
    <p class="about_p">The Archives Unleashed Privacy Policy describes what users can expect from Archives Unleashed as to how information is collected, used and shared. This policy applies to all information collected from or submitted to the Archives Unleashed Project, including the Archives Unleashed Cloud (the Cloud) portal located at <%= link_to('cloud.archivesunleashed.org','https://cloud.archivesunleashed.org/', target: '_blank') %> and all related sub-domains.</p>
    <p class="about_p">By accessing and using the services and products of the Archives Unleashed Project, users accept the practices outlined in the policy below.</p>
    <p class="about_p"><strong>Information Collection and Use</strong></p>
    <p class="about_p">We request the minimum amount of personal information necessary for the operation of Archives Unleashed software. We collect several types of information for various purposes to provide and improve our service to you.</p>
    <div id="auk_deriv_accordionContainer accordion">
      <div class="auk_deriv_accord card">
        <div class="auk_deriv_accord-header card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Personal Data</button>
          </h5>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="auk_deriv_accord_body card-body">
            <p class="about_p">While using our service, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you.</p>
            <table id="auk_deriv_accord_table">
              <tbody class="auk_deriv_tbody_table">
                <tr class="auk_deriv_tr_table">
                  <td class="auk_deriv_td_table"><strong>Archives Unleashed Service</strong></td>
                  <td class="auk_deriv_td_table"><strong>Information Required</strong></td>
                  <td class="auk_deriv_td_table"><strong>Required</strong></td>
                  <td class="auk_deriv_td_table"><strong>Collected by AU</strong></td>
                  <td class="auk_deriv_td_table"><strong>Explanation</strong></td>
                </tr>
                <tr class="auk_deriv_tr_table">
                  <td class="auk_deriv_td_table"; rowspan="5"><%= link_to('Archives Unleashed Cloud','https://cloud.archivesunleashed.org/', target: '_blank') %></td>
                  <td class="auk_deriv_td_table">GitHub/Twitter Credentials</td>
                  <td class="auk_deriv_td_table">Yes</td>
                  <td class="auk_deriv_td_table">Yes</td>
                  <td class="auk_deriv_td_table">
                  <p class="about_p">Your Github/Twitter username and password are used to authenticate. We do not have access to any information, except your username.</p></td>
                </tr>
                <tr class="auk_deriv_tr_table">
                  <td class="auk_deriv_td_table">Email</td>
                  <td class="auk_deriv_td_table">Yes</td>
                  <td class="auk_deriv_td_table">Yes</td>
                  <td class="auk_deriv_td_table">
                  <p class="about_p">We need a point of contact to connect with you.</p></td>
                </tr>
                <tr class="auk_deriv_tr_table">
                  <td class="auk_deriv_td_table">Name</td>
                  <td class="auk_deriv_td_table">Yes</td>
                  <td class="auk_deriv_td_table">Yes</td>
                  <td class="auk_deriv_td_table">
                  <p class="about_p">We like to know who our users are.</p></td>
                </tr>
                <tr class="auk_deriv_tr_table">
                  <td class="auk_deriv_td_table">Institution</td>
                  <td class="auk_deriv_td_table">Yes</td>
                  <td class="auk_deriv_td_table">Yes</td>
                  <td class="auk_deriv_td_table">
                  <p class="about_p">We like to know a bit about our users: where they're from, what sort of user they are, so we can best target and refine our services.</p></td>
                </tr>
                <tr class="auk_deriv_tr_table">
                  <td class="auk_deriv_td_table">Archive-It Account Information</td>
                  <td class="auk_deriv_td_table">Yes</td>
                  <td class="auk_deriv_td_table">Yes</td>
                  <td class="auk_deriv_td_table">
                  <p class="about_p">Credentials are necessary to connect Archive-It to the Cloud. This information is encrypted with a <%= link_to('salt','https://en.wikipedia.org/wiki/Salt_(cryptography)', target: '_blank') %> in our database.</p></td>
                </tr>
                <tr class="auk_deriv_tr_table">
                  <td class="auk_deriv_td_table"><%= link_to('Archives Unleashed Toolkit','https://archivesunleashed.org/', target: '_blank') %></td>
                  <td class="auk_deriv_td_table">None</td>
                  <td class="auk_deriv_td_table">No</td>
                  <td class="auk_deriv_td_table">No</td>
                  <td class="auk_deriv_td_table">
                  <p class="about_p">The Toolkit is used locally, so we don't need any information.</p></td>
                </tr>
                <tr class="auk_deriv_tr_table">
                  <td class="auk_deriv_td_table"; rowspan="3"><%= link_to('Newsletter','https://archivesunleashed.org/get-involved/#newsletter-subscription', target: '_blank') %></td>
                  <td class="auk_deriv_td_table">Email address</td>
                  <td class="auk_deriv_td_table">Yes</td>
                  <td class="auk_deriv_td_table">Yes</td>
                  <td class="auk_deriv_td_table">
                  <p class="about_p">An email address is needed so we can send you our quarterly newsletter. This services is opt-in and is maintained by <%= link_to('Mailchimp','https://mailchimp.com/legal/privacy/', target: '_blank') %>. Users have the option to opt-out at any time.</p></td>
                </tr>
                <tr class="auk_deriv_tr_table">
                  <td class="auk_deriv_td_table">First name (optional)</td>
                  <td class="auk_deriv_td_table">No</td>
                  <td class="auk_deriv_td_table">Yes</td>
                  <td class="auk_deriv_td_table">
                  <p class="about_p">It’s always nice when we can personalize a message to our subscribers and get to know them. This information is ONLY collected if provided.</p></td>
                </tr>
                <tr class="auk_deriv_tr_table">
                  <td class="auk_deriv_td_table">Last name (optional)</td>
                  <td class="auk_deriv_td_table">No</td>
                  <td class="auk_deriv_td_table">Yes</td>
                </tr>
                <tr class="auk_deriv_tr_table">
                  <td class="auk_deriv_td_table"><%= link_to('Slack','http://slack.archivesunleashed.org/', target: '_blank') %></td>
                   <td class="auk_deriv_td_table">Slack URL</td>
                   <td class="auk_deriv_td_table">Yes</td>
                   <td class="auk_deriv_td_table">No</td>
                   <td class="auk_deriv_td_table">
                   <p class="about_p">To join our <%= link_to('Slack','https://slack.com/privacy-policy', target: '_blank') %> channel you’ll need to input this information. All we will see is when you post to any of our channels or direct message our team. </p></td>
                </tr>
                <tr class="auk_deriv_tr_table">
                  <td class="auk_deriv_td_table"><%= link_to('GitHub','https://github.com/archivesunleashed/', target: '_blank') %></td>
                  <td class="auk_deriv_td_table">Username</td>
                  <td class="auk_deriv_td_table">Yes</td>
                  <td class="auk_deriv_td_table">No</td>
                  <td class="auk_deriv_td_table">
                  <p class="about_p">When anyone follows, watches, or contributes to any of the Archives Unleashed <%= link_to('GitHub','https://help.github.com/articles/github-privacy-statement/', target: '_blank') %> Repositories, we are able to see usernames, but participation is voluntary and we do not collect any information.</p></td>
                </tr>
              </tbody>
            </table>
          </div>
         </div>
        </div>
        <div class="auk_deriv_accord card" id="accordion">
        <div class="auk_deriv_accord-header card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Usage Data</button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="auk_deriv_accord_body card-body">
            <p class="about_p">We may also collect information how our services are accessed and used. In some case reports are generated by the applications we’ve subscribed to, such as Slack, MailChimp and GitHub. These reports include general usage statics and descriptive data.</p>
            <table id="auk_deriv_accord_table">
              <tbody class="auk_deriv_tbody_table">
                <tr class="auk_deriv_tr_table">
                  <td class="auk_deriv_td_table"><strong>Archives Unleashed Cloud</strong></td>
                  <td class="auk_deriv_td_table">
                  <ul class="about_ul">
                    <li class="about_li">Apache Spark logs showing timestamps to produce derivative files</li>
                    <li class="about_li">The name and size of your Archive-It collections</li>
                    <li class="about_li">Username and institution</li>
                  </ul>
                  </td>
                </tr>
                <tr class="auk_deriv_tr_table">
                  <td class="auk_deriv_td_table"><strong>Archives Unleashed Toolkit</strong></td>
                  <td class="auk_deriv_td_table">
                  <ul class="about_ul">
                    <li class="about_li">Not applicable</li>
                  </ul>
                  </td>
                </tr>
                <tr class="auk_deriv_tr_table">
                  <td class="auk_deriv_td_table"><strong>Newsletter (by <%= link_to('Mailchimp','https://mailchimp.com/legal/privacy/', target: '_blank') %>)</strong></td>
                  <td class="auk_deriv_td_table">
                  <p class="about_p">General stats that help us understand how people are interacting with our newsletters:</p>
                  <ul class="about_ul">
                    <li class="about_li">Number of subscribers</li>
                    <li class="about_li">Number of opt-outs</li>
                    <li class="about_li">Audience growth</li>
                    <li class="about_li">Open/click rates</li>
                    <li class="about_li">Campaign performance</li>
                    <li class="about_li">Email clients used</li>
                    <li class="about_li">Locations (general not specific, only provides country)</li>
                  </ul>
                  </td>
                </tr>
                <tr class="auk_deriv_tr_table">
                  <td class="auk_deriv_td_table"><strong><%= link_to('Slack','https://slack.com/privacy-policy', target: '_blank') %></strong></td>
                  <td class="auk_deriv_td_table">
                  <p class="about_p">Report provided to Slack account stats to understand:</p>
                  <ul class="about_ul">
                    <li class="about_li">Total number of users</li>
                    <li class="about_li">When users become inactive</li>
                  </ul>
                  </td>
                </tr>
                <tr class="auk_deriv_tr_table">
                  <td class="auk_deriv_td_table"><strong><%= link_to('GitHub','https://help.github.com/articles/github-privacy-statement/', target: '_blank') %></strong></td>
                  <td class="auk_deriv_td_table">
                  <p class="about_p">Our public repositories provide insights into the repositories maintained by the Archives Unleashed Project to understand the work being done and who are contributors are.</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
        <div class="auk_deriv_accord card" id="accordion">
        <div class="auk_deriv_accord-header card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Tracking & Cookies Data</button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="auk_deriv_accord_body card-body">
          <p class="about_p">Cookies are files with a small amount of data which may include an anonymous unique identifier. They are sent to your browser from a website and stored on your device. The Archives Unleashed Cloud uses a session cookie, which can let you stay logged in between visits to the page.</p>
          <p class="about_p">No personal or identifying information is collected while using cookies, and you can always opt out by changing your browser settings or permanently using a browser plugin. If you do not accept cookies, you may encounter some minor issues when using our service.</p>
          </div>
        </div>
      </div>
    </div>
    <p class="about_p"><strong>Use of Information Collected</strong></p>
    <p class="about_p">In accessing Archives Unleashed tools and services, collected information is used for a variety of purposes:</p>
    <ul class="about_ul">
	  <li class="about_li">To provide and maintain Archives Unleashed services</li>
	  <li class="about_li">To notify users about changes to our policies or immediate news about our services (e.g. systems interruptions, maintenance)</li>
	  <li class="about_li">To allow you to participate in interactive features of our services when you choose to do so, such as our newsletter, Slack channel, or within our GitHub repositories.</li>
	  <li class="about_li">To provide user support by responding to inquiries and requests</li>
	  <li class="about_li">To provide analysis or valuable information so that we can improve the Service</li>
	  <li class="about_li">To monitor the usage of the service</li>
	  <li class="about_li">To detect, prevent and address technical issues</li>
    </ul>
    <p class="about_p"><strong>Security of Information</strong></p>
    <p class="about_p">We do not sell or provide access of any user information to third-parties. We will NOT share any of your information without consent.</p>
    <p class="about_p">As mentioned before we do not store or have access to your authenticating credentials for GitHub or Twitter. Authentication with these applications are only used to authenticate to the Archives Unleashed Cloud. Archive-It credentials are supplied over HTTPS, and are salted and encrypted.</p>
    <p class="about_p"><strong>Links To Other Sites</strong></p>
    <p class="about_p">We are strongly committed to serving and participating in open-source communities, which is why you will find that our services reference and link out to other projects and resources that are not operated by us.</p>
    <p class="about_p">When you click on a third-party link, you will be directed to an site outside of the Archives Unleashed Project. We recommend you review the Privacy Policy for those sites to fully understand their information practices. We have no control over and assume no responsibility for the content, privacy policies or practices of any third party sites or services.</p>
    <p class="about_p"><strong>Changes to this Privacy Policy</strong></p>
    <p class="about_p">Any updates to our Privacy Policy will be posted to this page. We will also let users know via email and/or a prominent notice, prior to the change becoming effective and update the "effective date" at the top of this Privacy Policy. Changes to this Privacy Policy are effective when they are posted on this page.</p>
    <p class="about_p"><strong>Contact Us</strong></p>
    <p class="about_p">General questions or concerns about the Archives Unleashed Privacy Policy should be directed to our Project Manager, <%= link_to('Samantha Fritz','mailton:sam.fritz@archivesunleashed.org', target: '_blank') %>.</p>
    <p class="about_p"><strong>Acknowledgements</strong></p>
    <p class="about_p">We would like to acknowledge that this privacy policy is inspired from the work done by:</p>
    <ul class="about_ul">
	  <li class="about_li"><%= link_to('Free Privacy Policy Template Website','https://www.freeprivacypolicy.com/blog/sample-privacy-policy-template/', target: '_blank') %></li>
	  <li class="about_li">University of Waterloo, <%= link_to('Website privacy statement','https://uwaterloo.ca/privacy/privacy-statement', target: '_blank') %></li>
	  <li class="about_li">IIPC, <%= link_to('Privacy Policy','https://www.iipccanada.com/privacy-policy/', target: '_blank') %></li>
	  <li class="about_li">GitHub, <%= link_to('Privacy Statement','https://help.github.com/articles/github-privacy-statement/', target: '_blank') %></li>
	  <li class="about_li">Wikimedia, <%= link_to('Privacy Policy','https://foundation.wikimedia.org/wiki/Privacy_policy', target: '_blank') %></li>
    </ul>
    <p class="about_p">Many thanks to Ian Milligan, Nick Ruest and Samantha Fritz for their contributions in developing this privacy policy.</p>
<% end %>