<% provide(:title, 'AUK Dashboard') %>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="panel panel-default">
      <div class="panel-body">
        <button type="button" class="btn-primary btn dashboard-btn btn-lg active">
          <h3>Total Users</h3>
          <h1><%= get_number_of_users %></h1>
        </button>
        <button type="button" class="btn-primary btn dashboard-btn btn-lg active">
          <h3>Active Jobs</h3>
          <h1><%= get_number_of_queued_jobs %></h1>
        </button>
        <button type="button" class="btn-primary btn dashboard-btn btn-lg active">
          <h3>Jobs Completed</h3>
          <h1><%= get_total_number_of_jobs_run %></h1>
        </button>
        <button type="button" class="btn-primary btn dashboard-btn btn-lg active">
          <h3>Most Jobs</h3>
          <h1><%= get_most_jobs_user %></h3>
        </button>
        <button type="button" class="btn-primary btn dashboard-btn btn-lg active" data-toggle="tooltip" data-html="true" title="<%= get_largest_collection_title %>">
          <h3>Largest collection</h3>
          <h1><%= get_largest_collection %></h1>
        </button>
        <button type="button" class="btn-primary btn dashboard-btn btn-lg active">
          <h3>Space Used</h3>
          <h1><%= get_space_used %></h1>
        </button>
        <button type="button" class="btn-primary btn dashboard-btn btn-lg active">
          <h3>Space Available</h3>
          <h1><%= get_space_available %></h1>
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>User</th>
            <th>Institution</th>
            <th>Collection</th>
            <th>Queue</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Total Run Time</th>
            <th>Download</th>
          </tr>
        </thead>
        <tbody>
          <% @dashboards.each do |dashboard| %>
            <tr>
              <td><%= get_username(dashboard.user_id) %></td>
              <td><%= get_institution(dashboard.user_id) %></td>
              <% if dashboard.queue == 'seed' %>
                <td></td>
              <% end %>
              <% if dashboard.queue != 'seed' %>
                <td><%= link_to(get_collection_name(dashboard.collection_id), archiveit_collection_url(dashboard.collection_id), target: '_blank') %></td>
              <% end %>
              <td><%= dashboard.queue %></td>
              <td><%= dashboard.start_time %></td>
              <td><%= dashboard.end_time %></td>
              <td><%= job_length(dashboard.start_time, dashboard.end_time) %></td>
              <% if dashboard.queue == 'download' %>
                <td><%= collection_size_human(dashboard.collection_id, dashboard.user_id) %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%= paginate @dashboards %>
