<div class="navbar-collapse collapse" id="aboutpage">
  <div class="bg-dark p-4">
    <%= link_to "About", about_path, style: "color: white; font-size: large;" %>
    <%= link_to "Documentation", "/documentation", style: "color: white; font-size: large; padding-left: 10px;" %>
    <%= link_to "FAQ", "/faq", style: "color: white; font-size: large; padding-left: 10px;" %>
    <%= link_to "Using Derivatives", "/derivatives", style: "color: white; font-size: large; padding-left: 10px;" %>
  </div>
</div>
<nav class="navbar" style="background-color: black; margin-bottom: 10px;">
  <%= link_to image_tag('logo.png', alt: 'Archives Unleashed Logo', class: 'align-middle', style: 'padding-right: 10px;') + "Archives Unleashed Cloud", root_path, class: 'navbar-brand align-middle', style: 'color: white; font-size: xx-large;' %>
  <span class="navbar-right align-middle">
    <% if current_user %>
      <% if current_user.auk_name.nil? %>
        <%= link_to current_user.name, current_user, style: 'color: white; font-size: x-large; padding-right: 5px;', class: 'align-middle' %>
      <% else %>
        <%= link_to current_user.auk_name, current_user, style: 'color: white; font-size: x-large; padding-right: 5px;', class: 'align-middle' %>
      <% end %>
      <%= link_to '<i class="fa fa-sign-out fa-2x align-middle" style="color: white;"></i>'.html_safe, logout_path, method: :delete, title: 'Logout' %>
    <% else %>
      <span style="font-size: large; color: white; padding-right: 5px;">Sign in with: </span>
      <%= link_to '<i class="fa fa-twitter fa-2x align-middle" style="color: white; padding-right: 10px;"></i>'.html_safe, "/auth/twitter", title: 'Login with Twitter', method: :post %>
      <%= link_to '<i class="fa fa-github fa-2x align-middle" style="color: white;"></i>'.html_safe, "/auth/github", title: 'Login with GitHub', method: :post %>
    <% end %>
    <button class="navbar-toggler custom-toggler align-middle" type="button" data-toggle="collapse" data-target="#aboutpage" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon align-middle"></span>
    </button>
  </span>
</nav>
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>The Cloud will be shutting down on 30 June 2021 and migrating to Archive-It.</strong> Learn more about the transition <%= link_to('here', '/archive-it', target: '_blank') %>. 
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
