<!DOCTYPE html>
<html>
  <head>
    <title>Auk</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/navigation" %>
    <div id="flash">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </div>
    <div class="container-fluid">
      <%= yield %>
      <%= image_tag("cpp-viz.png", :class => "yarn_ball") %>
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>
