<!DOCTYPE html>
<html>
  <head>
    <title>Archives Unleashed</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag %>
  </head>

  <body>
    <header>
      <%= render "layouts/navigation" %>
    </header>
    <main role="main">
      <div id="flash">
        <% flash.each do |name, msg| %>
          <%= content_tag(:div, msg, class: "alert alert-info text-center") %>
        <% end %>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
