<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag %>
  </head>
  <body>
    <div id="wrap">
      <header>
        <%= render "layouts/navigation" %>
      </header>
      <main role="main" id="main">
        <%= render 'layouts/messages' %>
        <%= yield %>
      </main>
    </div>
    <footer class="footer">
      <%= render 'layouts/footer' %>
    </footer>
  </body>
</html>
